server {

{% if nginx_separate_logs_per_site == True %}
	access_log {{ nginx_log_dir}}/{{ item.server.server_name}}-{{ nginx_access_log_name}};
	error_log {{ nginx_log_dir}}/{{ item.server.server_name}}-{{ nginx_error_log_name}};
{% endif %}

{% for k,v in item.server.iteritems() %}
{% if k.find('location') == -1 and k != 'file_name' %}
{{ k }} {{ v }};
{% endif %}
{% endfor %} 

{% for k,v in item.server.iteritems() if k.find('location') != -1 %}
  location {{ v.name }} {
{% for x,y in v.iteritems() if x != 'name' %} 
      {{ x }} {{ y }};
{% endfor %}
  }
{% endfor %}
}

