server {

{% if nginx_separete_logs_per_site == True %}
	access_log {{ nginx_log_dir}}/{{ item.server.server_name}}-{{ nginx_access_log_name}};
	error_log {{ nginx_log_dir}}/{{ item.server.server_name}}-{{ nginx_error_log_name}};
{% endif %}

{% for k,v in item.server.iteritems() %}
{% if k != 'locations' and k != 'file_name' %}
{{ k }} {{ v }};
{% endif %}
{% endfor %}

{% for loc in item.server.locations %}
  location {{ loc.name }} {
{% for x,y in loc.iteritems() if x != 'name' %}
    {% if x == 'try_files' %}
       {{ x }} {{ y | join(' ')}};
    {% else %}
       {{ x }} {{ y }};
    {% endif %}
{% endfor %}
  }
{% endfor %}
}
